@font-face {
    font-family: 'nanatsu';
    src: url('go3v2.ttf');
}
*{
    padding: 0px;
    margin: 0px;
    /* border: 0px; */
    font-family: 'nanatsu';
}

body{
    height: 657px;
    width: auto;
}
.cabecalho{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    background-image: url("../img/backgroundBlack.jpg");
    color: white;
    align-items: center;
    font-size: 50px;
}
.menu{
    background-image: url("../img/backgroundRoxo.jpg");
    background-size: 800px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 80%;
    
}
.roda-pe{
    background-image: url("../img/backgroundBlack.jpg");
    width: 100%;
    height: 10%;
}
.logo{
    height: 65px;
}
.titulo{
    font-size: 50px;
    background: -webkit-linear-gradient(#F39801, #E60112);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.meliodas{
    height: 300px;
    margin:100px;
    border-radius: 50px;
}
.humor{
    font-size: 50px;
    background: -webkit-linear-gradient(#F39801, #E60112);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.anime{
    font-size: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(#F39801, #E60112);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.botao{
    width: 200px;
    height: 30px;
    margin: 10px;
    font-size: 20px;
}
#box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
